<h1>Restaurants</h1>

<%= link_to "criar restaurante", new_restaurant_path %>

<% @restaurants.each do |restaurant| %>
  <ul>
    <li><%= restaurant.name %> <%= link_to "ver", restaurant_path(restaurant) %> | <%= link_to "edit", edit_restaurant_path(restaurant) %> | <%= link_to "deletar", delete_path(restaurant), method: :delete, data: { confirm: "Are you sure?" } %> </li>
  </ul>
<% end %>