<h1> <%= @restaurant.name %> </h1>

<%= link_to "editar", edit_path(@restaurant) %>
<%= link_to "voltar", restaurants_path %>

<p>Address: <%= @restaurant.address %></p>
<p>Rating: <%= @restaurant.rating %> </p>


<%= link_to "Deletar", delete_path(@restaurant), method: :delete, data: { confirm: "Are you sure?" } %>